<span style="font-family: Caveat; font-size: 12pt">
    <b>От:</b> @Model["UserName"], @Model["UserEmail"],
    <br />
    <br />
    <p style="white-space: pre-line">
        @Model["FeedbackMessage"]
    </p>
    <br />
    <br />
    <b>Дата отправки:</b> @Model["AskedDateTime"] UTC
    <br />
    <br />
</span>
