<link rel="stylesheet" href="~/styles.css" />
<span style="font-family: Caveat; font-size: 12pt">
    <b>От: slim-logistics.RU</b>
    <br />
    <br />
    <p style="white-space: pre-line">
        <a href=@Model["Link"]><b>Для подтверждения регистрации перейдите по этой ссылке:</b></a>
    </p>
    <br />
    <br />
</span>
