<link rel="stylesheet" href="~/styles.css" />
<span style="font-family: Caveat; font-size: 12pt">
    <b>Восстановление пароля сайта slim-logistics.RU</b>
    <br />
    <br />
    <b>Ваш текущий пароль:</b> @Model["Password"]
    <br />    
    <br />
    <b>Дата отправки:</b> @Model["SentDateTime"] UTC
    <br />
    <br />
</span>
