@page
@using IdentityService.Areas.Identity.Pages;


@model ErrorModel
@{
    Layout = "/Views/Shared/_AnonymLayout.cshtml";
}

<div class="controls-container">
    <a asp-page="./" class="mdc-typography--body1" style="margin: 4px auto 0; text-align: center">Back to Home</a>
</div>
